h1{
    text-align: center;
    margin-top: 50px;
    color: #333;
}

.reciever{
    color: #333;
    border: 3px solid #fff;
    padding: 20px;
    width: 40%;
}

.sender{
    text-align: center;

    color: #333;
    width: 50%;
    float: right;
    padding: 20px;
    border: 2px solid #fff;
}
.my-img{
    width: 200px;
    height: 200px;
    border-radius: 10%;
    margin-top: 0px;
}
.send-button{
    float: right;
    border-radius: 100px;
    padding: 10px;
    background-color: #333;
    color: #8d2525;
    cursor: pointer;
    border: none;
    margin-top: 30px;
    width: 100px;
    height: 100px;
}